 .tamplate{
     overflow-x: hidden;
     width: 100%;
     height: 100vh;
     background: black;
 }
 /* Main Start */
 #main-article div{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }
 #main-article{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 90%;
 }
 #main-article div{
    color: white;
 }
 /* Main End */
 
 /*  Start */
 /*  End */
