#spline3d {
    width: 100vw;
    height: 100vh;
    background-color: #FFE8DC;
}

#git-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spline {
    width: 200px;
    aspect-ratio: 1/1;
}